<a href="https://colab.research.google.com/github/TuanLBT/AI_learning/blob/main/AI_trenlop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
value1 = int(input("Nhập vào số thứ 1:"))
value2 = int(input("Nhập vào số thứ 2:"))
print(value1 + value2)

Nhập vào số thứ 1:5
Nhập vào số thứ 2:5
10

In [11]:
with open('text_write.txt',mode='w') as accounts:
  accounts.write('20146543 Vo Ngoc Anh Tuan \n')
  accounts.write('20146564 Vo Ngoc Anh Tuan  \n')
  accounts.write('20146593 Vo Ngoc Anh Tuan  \n')
  accounts.write('20146587 Vo Ngoc Anh Tuan  \n')

In [17]:
with open('text_print.txt',mode='w') as accounts:
  print('sinh vien 1',file=accounts)
  print('sinh vien 2',file=accounts)
  print('sinh vien 3',file=accounts)
  print('sinh vien 4',file=accounts)

In [19]:
with open('text.txt',mode='r') as accounts:
  print(f"{'mssv':<10}{'name':<20}{'score':>2}")
  for record in accounts:
    mssv, name, score = record.split()
    print(f"{'mssv':<10}{'name':<20}{'score':>2}")

mssv      name                score
mssv      name                score
mssv      name                score
mssv      name                score
mssv      name                score

In [69]:
import pandas as pd
url = 'data1_1.csv'
dataframe = pd.read_csv(url)
dataframe.head(21) #hien thi 21 dong dau tien
#dataframe.iloc[0:10] #i location lay du lieu tu dong 0 den dong thu 10

#Loc ra du lieu
#dataframe = dataframe.set_index(dataframe["1"])
#dataframe.loc['Nguyen Van A']

#Cũng là lọc nhưng chỉ tốn 1 dòng
#dataframe[dataframe['Name'] == 'Nguyen Van C'].head(10)

#Lọc nhiều yếu tố
#dataframe[ (dataframe['khoa'] == 'ThoiTrang') & (dataframe['Name'] == 'Nguyen Van C') ]

#thay doi gia tri trong excel
#dataframe['khoa'].replace('ThoiTrang','CKM').head(10)
#dataframe.replace('CKM','CO KHI MAY').head(10)

#loc ra lon nhat, nho nhat, trung binh,....
#print('MAX SCORE: ',dataframe['Score'].mean()) #min,mean(trungbinh),sum,count

#dataframe['khoa'].unique()
#dataframe['khoa'].value_counts() #dem xem 1 khoa lặp lại bao nhiêu lần

#lenh xoa(chi xóa trên bộ nhớ đệm, không phải bộ nhớ kia), Axis = nghĩa là xoa theo một cột, ví dụ (['ID','Name'],axis = 1)
#dataframe.drop(['ID','Score'],axis = 1).head(10)
#dataframe.drop(dataframe.columns[1:4],axis =1).head(10)

#xoa dua tren tu khoa
#dataframe[dataframe['khoa'] != 'ThoiTrang'].head(10) #xoa hàng chứa chữ Thoitrang
#dataframe[dataframe['khoa'] != 3].head(20)
#dataframe[dataframe.index != 4].head(10)

#xoa nhung hang co gia tri trung lap
#dataframe.drop_duplicates().head(10)

#nhom cac gia tri trung lap voi nhau
#dataframe.groupby('khoa').count()
#dataframe.groupby(['khoa','Score']).count()
#dataframe.groupby('khoa')['Score'].count()

khoa
AmThuc       1
BoiLoi       1
CKM          1
DaNgoai      1
DanhBai      1
DiAn         1
DiChoi       1
DiPhuot      1
DongLuc      1
DongVat      1
Dulich       1
NauAn        1
NgoaiNgu     1
Oto          1
ThietKe      1
ThoiTrang    2
Ve           1
XayDung      1
XeMay        1
Name: Score, dtype: int64

In [74]:
import pandas as pd
import numpy as np

time_index = pd.date_range('01/01/2050', periods = 100000, freq = '30s') #30 giay lay mẫu 1 lần
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_amoun'] = np.random.randint(1,10,100000) #100000 lan lay mau
dataframe.resample('W').sum() # W --> Week, M, 2W, 3W

            Acess_amoun
2050-01-02        28751
2050-01-09       100250
2050-01-16       100648
2050-01-23       101351
2050-01-30       101294
2050-02-06        68173

In [91]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
#tìm số lượng huy chương của một mục bất kì
data.head(50)
#tìm số huy chương vàng theo môn thi cá nhân của một nước
data[ (data['Medal'] == 'Gold') & (data['City'] == 'Chamonix') ]
#Số lượng các huy chương
data['Medal'].value_counts() #dem xem 1 khoa lặp lại bao nhiêu lần
#vận động viên già nhất
print('Oldest Atlethic: ',data['Year'].min()) #min,mean(trungbinh),sum,count
#vận động viên trẻ nhất
print('Youngest Atlethic: ',data['Year'].max())
#Độ tuổi trung bình
print('Average Year: ',data['Year'].mean())

Oldest Atlethic:  1924
Youngest Atlethic:  2006
Average Year:  1980.3617481609692

In [92]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
#tìm số lượng huy chương của một mục bất kì
data.head(50)
#tìm số huy chương vàng theo môn thi cá nhân của một nước
data[ (data['Medal'] == 'Gold') & (data['City'] == 'Chamonix') ]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
38,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
40,1924,Chamonix,Biathlon,Biathlon,SUI,military patrol,M,Gold
41,1924,Chamonix,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold

In [94]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
#tìm số lượng huy chương của một mục bất kì
data.head(50)
#tìm số huy chương vàng theo môn thi cá nhân của một nước
data[ (data['Medal'] == 'Gold') & (data['City'] == 'Chamonix') ]
#Số lượng các nước tham gia
data['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [93]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
#tìm số lượng huy chương của một mục bất kì
data.head(50)
#tìm số huy chương vàng theo môn thi cá nhân của một nước
data[ (data['Medal'] == 'Gold') & (data['City'] == 'Chamonix') ]
#Số lượng các huy chương
data['Medal'].value_counts()

Gold      774
Silver    773
Bronze    764
Name: Medal, dtype: int64